<br><br>
<table class="table table-stripped" style="text-align: left; width: 1000px;">
	<tr>
		<th style="width: 5%;">№</th>
		<th style="width: 10%;">Имя</th>
		<th style="width: 15%;">Телефон</th>
		<th style="width: 15%;">Email</th>
		<th style="width: 30%;">Сообщение</th>
		<th style="width: 15%;">Заказ</th>
		<th style="width: 8%;">Сумма</th>
		<th style="width: 3%;">Статус</th>
	</tr>


	<?php
	foreach ($data['orders'] as $order) { ?>
		<tr>
			<td><?= $order['id']; ?></td>
			<td><?= $order['user_name']; ?></td>
			<td><?= $order['user_phone']; ?></td>
			<td><?= $order['user_email']; ?></td>
			<td><?= $order['user_comment']; ?></td>
			<td>
				<?php $order['products'] = (unserialize($order['products']));
				foreach ($order['products'] as $k => $v) {
					echo '№ ' . $k . ' - ' . $v . "шт.<br>";
				}
				?>
			</td>
			<td><?= $order['totalsum']; ?></td>
			<td style="text-align: center; vertical-align: middle;">
				<div class="dropdown">
					<?php if ($order['status'] == 3) { ?>
					<button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" >
						<?php ;
						}elseif ($order['status'] == 2){ ?>
						<button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
							<?php ;
							}else{ ?>
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
								<?php ;
								} ?>
								<span><?= $order['status']; ?></span></button>
							<ul class="dropdown-menu"  >
								<li style="width: 10px;"><a href="./changeOrderStatus/<?= $order['id']; ?>/1">1</a></li>
								<li style="width: 10px;"><a href="./changeOrderStatus/<?= $order['id']; ?>/2">2</a></li>
								<li style="width: 10px;"><a href="./changeOrderStatus/<?= $order['id']; ?>/3">3</a></li>
							</ul>
				</div>
			</td>
		</tr>
	<?php } ?>
</table>