<div class="col-sm-9" style="margin-left: 10%; margin-right: 10%">
	<div class="blog-post-area">
		<h2 class="title text-center">Последние новости</h2>
		<?php foreach ($data['pages'] as $page_data) {  ?>
			<div class="single-blog-post">
				<h3><?=$page_data['title'] ?></h3>
				<div class="post-meta">
					<ul>
						<li><i class="fa fa-calendar"></i>2013-03-02</li>
						<li><i class="fa fa-clock-o"></i> 13:33</li>
					</ul>
				</div>
				<a href="/pages/view/<?=$page_data['alias'] ?>"><?= $page_data['title'] ?> - Читать ...</a>
			</div>
			<hr>
		<?php } ?>
	</div>
</div>