
	<div class="col-sm-4 col-sm-offset-1">
		<div class="login-form"><!--login form-->
			<h2>Login to your account</h2>
			<form action="" method="post" name="login">
				<input name ="login" type="text" placeholder="login"/>
				<input name ="password" type="password" placeholder="password"/>
				<button type="submit" class="btn btn-default">Login</button>
			</form>
		</div><!--/login form-->
	</div>
	<div class="col-sm-1">
		<h2 class="or">OR</h2>
		<a href="reg/">РЕГИСТРАЦИЯ</a>
		<br><br><br><br><br><br>
	</div>






