<div style="display: inline-block; float:left;">
	<h3>Редактирование товара</h3>
	<form style="width: 600px;" method="post" action="">
		<input type="hidden" name="id" value="<?= $data['product']['id'] ?>"/>
		<div class="form-group">
			<label for="alias">Адрес ссылки</label>
			<input type="text" id="alias" name="alias" value="<?= $data['product']['alias'] ?>" class="form-control"/>
		</div>
		<div class="form-group">
			<label for="title">Название</label>
			<input type="text" id="title" name="title" value="<?= $data['product']['title'] ?>" class="form-control"/>
		</div>
		<div class="form-group">
			<label for="photo">Фото товара, указать название картинки</label>
			<input type="text" id="photo" name="photo" value="<?= $data['product']['photo'] ?>" class="form-control"/>
		</div>
		<div class="form-group">
			<label for="price">Цена</label>
			<input type="text" id="price" name="price" value="<?= $data['product']['price'] ?>" class="form-control"/>
		</div>
		<div class="form-group">
			<label for="description">Описание</label>
			<textarea name="description" id="description" class="form-control"><?= $data['product']['description'] ?></textarea>
		</div>
		<div>
			<label for="category">Категория</label>
			<input type="text" name="category" id="category" value="<?= $data['product']['category'] ?>" class="form-control">
		</div>
		<div class="form-group">
			<label for="rate">Рейтинг</label>
			<input type="text" name="rate" id="rate" value="<?= $data['product']['rate'] ?>" class="form-control">
		</div>
		<div class="form-group">
			<label for="is_published">Есть в наличии?</label>
			<input type="checkbox" name="is_active" id="is_active" <?php if ($data['product']['is_active']){ ?>checked="checked"<?php } ?> >
		</div>
		<input type="submit" class="btn btn-success" value="Сохранить изменения"/>
	</form>
</div>
<div style="float: right;">

	<h2>Список категорий:</h2>
	<?php
	foreach ($data['category'] as $category) {
		?>
		<table>
			<tr>
				<td>    <?php echo $category['id'] . " - " . $category['title']; ?></td>
			</tr>
		</table>
	<?php } ?>

</div>