
<br><br>

<table class="table table-stripped stuff" style="margin: 20px; width: 600px">
	<?php
	foreach ($data['notactive'] as $product_data) {
		?>
		<tr>
			<td style="width: 20px;"><?= $product_data['id'] ?></td>
			<td>
				<b><?= $product_data['title'] ?></b>
			</td>
			<td align="right">
				<a href="/admin/products/edit/<?= $product_data['id'] ?>">
					<button class="btn btn-sm btn-primary">Редактировать</button>
				</a>
				<a href="/admin/products/delete/<?= $product_data['id'] ?>" onclick="return confirmDelete()"><!--todo! Не работает 6:42-->
					<button class="btn btn-sm btn-danger">Удалить</button>
				</a>
			</td>
		</tr>
	<?php } ?>
</table>