<br><br>
<table class="table table-stripped stuff" style="width: 1000px">
	<tr>
		<td><h3>Товары</h3></td>
		<td><a href="/admin/products/category/">
				<button class="btn btn-sm btn-success">Просмотр по категориям</button>
			</a></td>
		<td><a href="/admin/products/add/">
				<button class="btn btn-sm btn-success">Добавить новый товар</button>
			</a></td>
	</tr>

	<?php
	foreach ($data['product'] as $product_data) {
		?>
		<tr>
			<td>
				<b>
					<?= $product_data['title'] ?>
				</b>
			</td>
			<td align="right">
				<a href="/admin/products/edit/<?= $product_data['id'] ?>">
					<button class="btn btn-sm btn-primary">Редактировать</button>
				</a>
				<a href="/admin/products/delete/<?= $product_data['id'] ?>" onclick="return confirmDelete()"><!--todo! Не работает 6:42-->
					<button class="btn btn-sm btn-warning">Удалить</button>
				</a>
			</td>
		</tr>
	<?php } ?>
</table>